@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('../assets/background-landingpage-desktop.jpg') no-repeat center/cover;
    height: 100%;
    max-width: 100%;
    background-color: rgb(30, 30, 30);

    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    color: white; 
    
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 15rem;
}

.titulo-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-left: 23%;

    text-align: center;
}

h2 {
    font-weight: 400;
}

.language-page {
    display: flex;
    gap: 20px;
    margin-right: 10%;
}


.lang-icon {
    width: 35px;
}

/* Seção Principal da página. */

.container-marcas {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-marcas-fileira-superior {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;
    
}

.container-marcas-fileira-meio {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;

    margin-top: 4%;
}

.container-marcas-fileira-inferior {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10%;

    margin-top: 1%;
}

.container--marcas--item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 350px;
    height: 320px;
}

.container--instagram--icon {
    width: 30px;
    margin: 20px;
}

.container--site--icon {
    width: 40px;
    margin: 20px;
}


.container--marcas--item--textbutton {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 2% 0;
}

.logos-marcas {
    width: 350px;
    height: auto;
}

#logo-marca {
    width: 250px;
    height: auto;
}

.logos-marcas-caffe {
    width: 200px;
    height: auto;
}

p {
    text-align: center;
    margin-top: 0%;

    font-weight: 400;
    font-size: 14px;
}

.container--marcas--redes-social {
    display: flex;
    align-items: center;
    justify-content: baseline; 
}

.link--instagra {   
    width: 20px;
    margin-right: 15px;

    display: flex;
    align-items: center;
    justify-content: center;
}


.button {
    border: 0;
    border-radius: 18px;
    padding: 10px 18px;

    background-color: #003e6d;
    font-weight: 300;
    margin-top: 2%;
    text-align: center;
    text-decoration: none;
    color: white;

    transition: background-color 0.7s;
}

.button:hover {
    background-color: white;
    color: black;
}

footer {
    background-color: black;
    height: 100px;
    margin: 90px 0 0 0;

    display: flex;
    justify-content: center;
    align-items: center;
}

#text-rodape {
    font-weight: 300;
    font-size: 16px;
}



/* Mobile responsivo */


@media (max-width: 932px) {

    body {
        background: url('../assets/background-landingpage-mobile.jpg') no-repeat center/cover;
    }

    nav {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .titulo-page {
        padding: 0;
        margin: 10%;
    }

    h1 {
        font-size: 26px;
        margin-top: 10%;
    }

    h2 {
        font-size: 20px;
    }

    .language-page {
        margin: 0;
    }

    .container-marcas-fileira-superior {
        flex-direction: column;
        align-items: center;


    }

    .container-marcas-fileira-meio {
        flex-direction: column;
        align-items: center;

    }

    .container-marcas-fileira-inferior {
        flex-direction: column;
        align-items: center;

    }

    .container--marcas--item {
        margin-top: 0%;
    }

    #text-rodape {
        font-size: 15px;
        margin-bottom: 7%;
    }
   
       
}
    